<section>
        <p> "Simple, affordable, memorable"
        </p>
        <h4> Book now with one of our experienced drivers: </h4>
        <button id="oneWayBtn"> One-way </button>
        <button id="roundTripBtn"> Round-trip </button>

    </section>
    <aside>
    <button id="btn">Click</button>
    </aside> 