<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mountain Express</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>

<body>
  <header>
    <nav class="flex justify-between h-10 items-center bg-blue-200 lg:h-20">
        <div class="pl-2">
          <a href="/">
            <img
            src="/images/logo1.png"
            alt=""
            class="w-[35%] max-w-[35%] md:w-2/4 md:max-w-[50%] h-[100%]"
          </a>
        </div>

        <div class="pr-4">
    {{!-- if you are able to log in then you are given a chance to logout as well --}} 
          {{#if logged_in}}
            <button class="btn" id="logout">logout</button>
          {{else}}
            <button class="text-yellow-700 lg:text-lg hover:text-white">
            <a href="/login">Login/Sign-up</a>           
            </button>
          {{/if}}
        </div>
      </nav>
  </header>
  <main>
    {{{ body }}}
  </main>

<footer class="flex items-center justify-center h-40 pt-3 flex-col">
      <h5>Footer</h5>
      <ul class="flex gap-3">
        <li>Home</li>
        <li><a href="/booking">Book</a></li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </footer>

  {{#if logged_in}}
  <script src="javascript/logout.js"></script>
  {{/if}}
{{!-- <script src="/javascript/main.js"></script> --}}
</body>
</html>