    <section class="flex items-center flex-col mb-16">
      <h2 class="font-bold text-sky-700 pl-4 text-4xl self-start">Book your transportation:</h2>
      <form class="border-sky-800 rounded-md border-4 md:w-2/4 w-[90%] mt-4 mb-16 bg-zinc-100" id = "booking">
        <div class="flex justify-around">
          <div class="flex justify-center gap-2">
            <input type="radio" name="trip" id="trip" value="one-way" />
            <p>One Way</p>
          </div>

          <div class="flex justify-center gap-2">
            <input type="radio" name="trip" id="trip" value="round-trip" />
            <p>Round trip</p>
          </div>
        </div>

        <!--Need to change layout when round-trip is selected-->

        <div class="md:grid md:grid-cols-2 md:p-4 md:gap-2 flex flex-col justify-center" >
          <input
            type="text"
            placeholder="From" 
            class="border-sky-100 border-2 md:p-4 m-2  md:m-0"
            id = "from"
          />
          <input
            type="text"
            placeholder="To"
            class="border-sky-100 border-2 md:p-4 m-2 md:m-0"
            id = "to"
          />
        </div>

        <div class="grid grid-cols-2 p-2 md:p-4 gap-2">
          <input 
            type="datetime-local" 
            class="border-sky-100 border-2 p-0 md:p-4"
            id = "userDate"
          />
          <input 
            type="datetime-local"

            class="border-sky-100 border-2 p-0 md:p-4"
            id ="userDateTime" 
          />
        </div>

        <div class="grid grid-cols-1 p-4">
          <input
            type="number"
            placeholder="No. of passengers"
            class="border-sky-100 border-2 p-4"
            id = "passengers"
          />
        </div>
        <div class = "grid grid-cols-2 p-4 justify-items-end">
          <div></div>
          <button
            type="submit"
            class="text-white bg-amber-500 rounded-md border-2 p-4 w-[200px] hover:bg-amber-400">
          <a href="/payment">Continue</a>
          </button>
        </div>
      </form>
    </section>
    <script src="javascript/booking.js"></script>

