    {{!-- we can show information about the company and it's service, then is given option to log in or sign up instead  --}}
    <body>
    <ul class="topnav">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Pricing</a></li>
      <li><a href="#contact">Reservation</a></li>
      <li class="right"><a href="#about">Logout</a></li>
    </ul>
    </body>

    <section>
        <p> "Simple, affordable, memorable"
        </p>
        <h4> Book now with one of our experienced drivers: </h4>
        <button id="oneWayBtn"> One-way </button>
        <button id="roundTripBtn"> Round-trip </button>

        

    {{!-- <div>
        <h4>From</h4>
{{!-- input airport name, hotels, address --}}

        <h4>To</h4>
{{!-- input destination which might include hotels, airports, hotels, address --}}

        <h4> Date</h4>
{{!-- input date and make user able to see calander drop down and see it --}}

        <h4>Time</h4>
{{!-- user should be able to choose time --}}

        <h4>No. of Passangers</h4>
        {{!-- user can choose no.of passangers, in which choice of adults and children is given --}}
    </div>
{{!-- upon click continue user is given option enter info about airline name and the total price and options to add tip to the driver and helpful notes to the driver --}}

{{!-- then user is given option to go back or either continue  --}}

<div>

{{!-- user is then taken to new page where user can see the detail info that he/she entered which includes "From and To destination"--}}
    
</div>

<div>
    {{!-- user is then given option to check out and upon clicking "checkout" --}}

    {{!-- user is asked first and last name, email, contact info --}}

    {{!-- then user is given options to book a trip --}}
</div> --}}

    </section>
    <aside>
    <button id="logout">Logout</button>
    </aside> 