<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mountain Express</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="flex justify-between h-10 items-center bg-blue-200 lg:h-20">
        <div>
          <!-- <img
            src="./assets/images/Mountain-Express.jpg"
            style="width: 20%; height: 100%; opacity: 0.6"
            alt=""
          /> -->
          <h1 class="text-yellow-700 lg:text-xl pl-4">Mountain Express</h1>
        </div>

        <div class="pr-4">
          <button class="text-yellow-700 lg:text-lg hover:text-white">
            Login
          </button>
          <button class="text-yellow-700 lg:text-lg lg:pl-4 hover:text-white">
            Signup
          </button>
        </div>
      </nav>
      <section
        style="background-image: url(./assets/images/pexels-sean-m-4279629.jpg)"
        class="bg-center bg-cover lg:bg-cover object-contain h-60 flex flex-col items-center justify-around"
      >
        <div>
          <h2 class="text-center text-2xl md:text-4xl text-white font-bold">
            MOUNTAIN EXPRESS
          </h2>
          <p class="text-center text-lg text-white font-bold">
            "Simple, affordable, memorable"
          </p>
        </div>
        <div>
          <p class="text-center text-lg text-white font-bold">
            Book your transportation online below
          </p>
          <p class="text-center text-lg text-white font-bold">
            (list of locations available for transportation)
          </p>
        </div>
      </section>
    </header>
    <section class="lg:grid lg:grid-cols-2 lg:gap-1">
      <div
        class="h-40 bg-blue-200 mb-1 flex items-center justify-center flex-col"
      >
        <p>Book now with one of our experienced drivers:</p>
        <button class="hover:text-white">
          <a href="/booking">Book Now</a>
          </button>
      </div>
      <div class="h-40 bg-blue-200 flex items-center justify-center flex-col">
        <p>Or contact us directly at:</p>
        <p>+000 - 000 - 000</p>
      </div>
    </section>
    <section class="flex items-start justify-center h-40 pt-3">
      <h5>Testimonials</h5>
    </section>
    <section class="flex items-center justify-center h-40 pt-3 flex-col">
      <h5>Our Promise</h5>
      <p>(more info about company and services provided)</p>
    </section>
    <section class="flex items-center justify-center h-40 pt-3 flex-col">
      <h5>Check out our fleet:</h5>
      <p>detail of cars available</p>
    </section>
    <section class="flex items-center justify-center h-40 pt-3 flex-col">
      <h5>Footer</h5>
      <ul class="flex gap-3">
        <li>Home</li>
        <li><a href="./booking.handlebars">Book</a></li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </section>
  </body>
</html>