    <section>
        <p> "Simple, affordable, memorable"
        </p>
        <h4> Book now with one of our experienced drivers: </h4>
        <a href="/one-way">
             <button id="oneWayBtn"> One-way </button>
        </a>
        <button id="roundTripBtn"> Round-trip </button>

    </section>
    <aside>
    <button id="logout">Logout</button>
    </aside> 