<section class="flex items-center flex-col">
    <h2 class="text-4xl self-start">Login</h2>
    <form class="border-zinc-900 border-4 w-2/4 mt-4 bg-zinc-100" id="login-form">

      <div class="flex justify-start flex-col p-4 gap-2 my-2">
        <p>Email:</p>
        <input class="form-input border-zinc-900 border-2 p-4" type="text" id="email-login"/>
      </div>
      <div class="flex justify-start flex-col p-4 gap-2">
        <p>Password:</p>
        <input class="form-input border-zinc-900 border-2 p-2" type="password" id="password-login"/>
      </div>
      <div class = "flex items-center justify-center mb-4">
         <button
            type="submit"
            class="border-zinc-900 border-2 p-4 w-[200px] bg-[rgb(223,239,253)] hover:text-white">
              Login     
          </button>    
        </div>
    </form>
</section>   

<section class="flex items-center flex-col">
  <h2 class="text-4xl self-start">Sign Up</h2>

  <form class="signup-form border-zinc-900 border-4 w-2/4 mt-4 bg-zinc-100"         id="signup-form">
    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p>First Name:</p>
      <input class="form-input form-input border-zinc-900 border-2 p-4" type="text" id="first-name" />
    </div>

   <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p>Last Name:</p>
      <input class="form-input form-input border-zinc-900 border-2 p-4" type="text"   id="last-name" />
    </div>

    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p>Email:</p>
      <input class="form-input form-input border-zinc-900 border-2 p-4" type="email" id="email-signup" />
    </div>

    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p>Password:</p>
      <input class="form-input form-input border-zinc-900 border-2 p-4" type="password" id="password-signup" />
    </div>

  <div class = "flex items-center justify-center mb-4">
    <button 
    class="border-zinc-900 border-2 p-4 w-[200px] bg-[rgb(223,239,253)] hover:text-white" 
    type="submit">Sign Up</button>
  </div>
<!--This button in the middle too-->
  </form>
</section>

<section class="flex items-center flex-col">
    <h2 class="text-4xl self start">Billing Information</h2>
    <form class="border-zinc-900 border-4 md:w-2/4 w-[90%] mt-4 bg-zinc-100" id="payment-form">
        <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>First Name</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type="text"
            id=""/>
        </div>

        <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>Last Name</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type="text"
            id=""/>
        </div>

         <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>Credit Card No.</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type=""
            id=""/>
        </div>

    </form>

</section>

<script src="javascript/login.js"></script>
