<section class="flex items-center flex-col mb-12">
  <h2 class="font-bold text-sky-700 pl-4 text-4xl self-start">Login:</h2>
  <form
    class="border-sky-800 rounded-md border-4 md:w-2/4 w-[90%] mt-4 bg-zinc-100"
    id="login-form"
  >

    <div class="flex justify-start flex-col p-4 gap-2 ">
      <p class="font-bold text-sky-800">Email:</p>
      <input
        class="form-input border-sky-100 border-2 p-4"
        type="text"
        id="email-login"
      />
    </div>
    <div class="flex justify-start flex-col p-4 gap-2">
      <p class="font-bold text-sky-800">Password:</p>
      <input
        class="form-input border-sky-100 border-2 p-4"
        type="password"
        id="password-login"
      />
    </div>
    <div class="flex items-center justify-center">
      <button
        type="submit"
        class="text-white bg-amber-500 rounded-md border-2 p-4 m-4 md:m-0 w-[100%] m-2 md:w-[200px] md:mb-4 hover:bg-amber-400"
      >
        Login
      </button>
    </div>
  </form>
</section>

<section class="flex items-center flex-col bg-amber-50 mb-16">
  <h2 class="font-bold text-sky-700 pl-4 text-4xl self-start">Sign Up:</h2>

  <form
    class="signup-form border-sky-800 rounded-md border-4 md:w-2/4 w-[90%] mt-4 bg-zinc-100"
    id="signup-form"
  >
    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p class="font-bold text-sky-800">First Name:</p>
      <input
        class="form-input form-input border-sky-100 border-2 p-4"
        type="text"
        id="first-name"
      />
    </div>
    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p class="font-bold text-sky-800">Last Name:</p>
      <input
        class="form-input form-input border-sky-100 border-2 p-4"
        type="text"
        id="last-name"
      />
    </div>
    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p class="font-bold text-sky-800">Email:</p>
      <input
        class="form-input form-input border-sky-100 border-2 p-4"
        type="email"
        id="email-signup"
      />
    </div>
    <div class="flex justify-start flex-col gap-2 p-4 my-2">
      <p class="font-bold text-sky-800">Password:</p>
      <input
        class="form-input form-input border-sky-100 border-2 p-4"
        type="password"
        id="password-signup"
      />
    </div>

    <div class="flex items-center justify-center mb-4">
      <button
        class="text-white bg-amber-500 rounded-md border-2 p-4 m-4 md:m-0 w-[100%] m-2 md:w-[200px] bg-[rgb(223,239,253)] md:mb-4 hover:bg-amber-400"
        type="submit"
      >Sign Up</button>
    </div>
    
  </form>
</section>

<script src="javascript/login.js"></script>