<form class="oneWayForm">
    <input id="pickUp">
    <input id="dropOff">
    <input id="passengerNum">
        <button id="oneWayBtn">
            add one-way
        </button>
</form>

<script src="/javascript/one-way.js"></script>