<section class="flex items-center flex-col">
    <h2 class="text-4xl self start">Billing Information</h2>
    <form class="border-zinc-900 border-4 md:w-2/4 w-[90%] mt-4 bg-zinc-100" id="payment-form">
        <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>First Name</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type="text"
            id="first-name"/>
        </div>

        <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>Last Name</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type="text"
            id="last-name"/>
        </div>

         <div class="flex justify-start flex-col p-4 gap-2 my-2">
            <p>Credit Card No.</p>
            <input 
            class="form-input border-zinc-900 border-2 p-4"
            type=""
            id="credit-number"/>
        </div>

        <div>
            <button
                type="submit"
                >
                Submit Payment
            </button>
        </div>

    </form>

</section>

<script src="javascript/payment.js"></script>