<div>
      <h2>input your destination</h2>

      <form>
        <label for="fname">From </label>
        <input type="text" id="fname" name="fname" />
        <label for="lname">To</label>
        <input type="text" id="lname" name="lname" />
        <label for="Pname">No. of Passangers</label>
        {{!-- input choice of no. of adults and kids --}}

        <input type="text" id="Pname" name="lname" />
        <button id="continueToNext"> Continue </button>

      </form>
    </div>

